<!doctype html>
<!-- нужно сообщить нашему HTML-шаблону о том, что мы добавили CSS -->
{% load static %}
<html>
    <head>
	<!-- Метатеги используются для хранения информации предназначенной для браузеров и поисковых систем.
	Например, механизмы поисковых систем обращаются к метатегам для получения описания сайта, ключевых слов и других данных. -->
		<meta charset="utf-8">
        <title>Django project</title>
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<!-- сказали нашему шаблону, где находится наш CSS файл -->
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
    <body>
			<!-- функция проверки заполнения строки поиска -->
			<script>
			function validateForm() {
    			var x = document.forms["myForm"]["fname"].value;
    			if (x == "") {
        			alert("Name must be filled out");
        			return false;
    			}
			}
		</script>
		<div class="page-header">
			<!-- Чтобы ссылка показывалась только пользователям, вошедшим в админку.
			 Ссылка будет отправлена в браузер, только если запрашивающий страницу пользователь вошёл в систему.-->
			{% if user.is_authenticated %}
				<!-- Класс glyphicon glyphicon-plus определён в используемой нами теме bootstrap — таким образом мы выведем значок плюса. -->
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<!-- show our list of drafts -->
				<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
			{% endif %}
			<h1><a href="/">Django project (Blog)</a></h1>
			<!--строка поиска-->
			<form name="myForm" action="/action_page.php"
				onsubmit="return validateForm()" method="post">
				Поиск: <input type="text" name="fname">
				<input type="submit" value="Найти">
			</form>

		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>