<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
		{% else %}
			<!-- If the condition is not fulfilled (so if there is no published_date), then we want to do the line: -->
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
		<!-- Чтобы ссылка показывалась только пользователям, вошедшим в админку. Кто попало не сможет редактировать запись.
		Ссылка будет отправлена в браузер, только если запрашивающий страницу пользователь вошёл в систему.-->
		{% if user.is_authenticated %}
			<!-- Класс glyphicon glyphicon-plus определён в используемой нами теме bootstrap, таким образом мы выведем знак редактирования. -->
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<!-- Добавляем знак удаления записи-->
			<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
		<h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}